{% extends 'base.html.twig' %}

{% block title %}Ajout d'une session{% endblock %}

{% block body %}

    <h1>Ajouter une session</h1>

    {{ form_start(formSessions) }}
    {{ form_row(formSessions.intituleSession)}}
    {{ form_row(formSessions.dateDebut)}}
    {{ form_row(formSessions.dateFin)}}
    {{ form_row(formSessions.nbPlacesTheorique)}}
    {{ form_row(formSessions.formateur)}}
    {{ form_row(formSessions.formation)}}
        <h2 class="center">Programme de la session</h2>
    <div class="form-group row ">
        <div class="col-form-label col-sm-2">&nbsp;</div>
        <div id="programme-fields-list" class="col-sm-10 remove-collection-widget" data-prototype="{{ form_widget(formSessions.planifiers.vars.prototype)|e }}" data-session="{{sessionId}}" data-widget-tags="{{ '<p></p>'|e }}" data-widget-counter="{{ formSessions.planifiers|length }}">
            {% for programmeField in formSessions.planifiers %}
                <p>
                    {{ form_errors(programmeField) }}
                    {{ form_widget(programmeField, {'attr': {'class': 'borders'}}) }}
                </p>
            {% endfor %}
        </div>
    </div>
    <div class="form-group row flex-action">
        <button type="button" class="add-another-collection-widget button" data-list-selector="#programme-fields-list">Ajouter un nouveau module</button>
    </div>
    {# empêche l'apparition d'une légende "programmes", si la collection est vide (en cas de création d'une nouvelle session) #}
    {% do formSessions.planifiers.setRendered %}
    {{ form_end(formSessions) }}


     
{% endblock %}