{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}

    <h1>Liste des stagiaires</h1>
    <a href="{{ path('add_stagiaire') }}">Ajouter un stagiaire</a>
    
    {% if stagiaires | length >0 %}
    

    <p>Il y a {{stagiaires | length }} stagiaires</p>


    {% for stagiaire in stagiaires %}
    
        <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"> {{ stagiaire}}</a> <a href="{{ path('update_stagiaire', {'id': stagiaire.id}) }}"> Modifier</a><br>
    {% endfor %}
    {% else %}
        <p>Il n'y a pas de stagiaires!</p>
     {% endif %}
    
    {% else %}
        <h2>Vous n'etes pas administateur</h2>
    {% endif %}
{% endblock %}
